* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    /*background-image: url(bg-stars.svg);*/
    background-size: cover;
    background-color: #230334;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

body img {
    top: 709px;
    width: 100%;
    border: 1px solid white;
}

body video{
    width: 100%;
    h100%
}

main{
    position: absolute;
}

.relogio {
    width: 700px;
    height: 360px;
    border-radius: 8px;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.555);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(40px);
}

.box {
    background-color: black;
    margin: 10px;
    width: 200px;
    height: 300px;
    border-radius: 8px;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.555);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
}

#horas,
#minutos,
#segundos {
    font-size: 8rem;
}

#tempo {
    font-size: 2rem;
}

.data {
    width: 700px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(40px);
    border-radius: 8px;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.555);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    color: #fff;
    font-weight: 500;
}



@media (max-width: 1920px) {
    body img {
        position: absolute;
        top: 807px;
        width: 100%;
    }
}

@media (max-width: 820px) {

    body {
        background-image: linear-gradient(220deg, #9c8c00 0%, #ffdf00 35%, #6e7600 100%);
        background-image: url(bg-stars.svg);
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    

    .relogio {
        width: 380px;
        height: 180px;
    }

    .box {
        width: 100px;
        height: 150px;
    }

    #horas,
    #minutos,
    #segundos {
        font-size: 4rem;
    }

    #tempo {
        font-size: 1rem;
    }

    .data {
        width: 380px;

    }

}